<footer>

<div class="container-fluid">
    
    <div class="row">
        <div class="col" id="footercol">
            <h3>Meistä</h3>
            <p>Selvää säästöä sähköautoilijoille <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>© 2023</p>
        </div>
        <div class="col" id="footercol">
            <h3>Ota yhteyttä</h3>
            <p>autoilijan@saastajat.fi</p>
            <p>ihmisen@saastajat.fi</p>
            
        </div>
      
    </div>

</div>

</footer>