<footer>

<div class="container-fluid">
    
    <div class="row">
        <div class="col">
            <p>Footer part 1</p>
        </div>
        <div class="col">
            <p>Footer part 2</p>
        </div>
        <div class="col">
            <p>Footer part 3</p>
        </div>
    </div>

</div>

</footer>