<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/login">SÄÄSTÄJÄT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {{#if isAuthenticated}}
        <li class="nav-item {{#if active.results}}active{{/if}}" >
          <a class="nav-link" {{#if active.results}}aria-current="page" {{/if}} href="/results">Aseta</a>
        </li>
        
        <li class="nav-item {{#if active.history}}active{{/if}}" >
          <a class="nav-link" {{#if active.history}}aria-current="page" {{/if}} 
          href="/history">Käyttäjän tiedot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Kirjaudu ulos</a>
        </li>
        {{else}}
         <li class="nav-item {{#if active.login}}active" aria-current="page"{{/if}} >
          <a class="nav-link" {{#if active.login}}aria-current="page" {{/if}} href="/login">Kirjaudu</a>
        </li>
        {{/if}}
       
      </ul>
    </div>
  </div>
</nav>