<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
<h1>Kirjaudu</h1>


{{!--Lisätty saavutettavuus WAI-ARIAN mukaan--}}
  <div class="errors" role="alert" aria-relevant="all">
    {{#if messages.error}}
  <p>{{messages.error}}</p>
  {{/if}}
  </div>

{{!--Lisätty saavutettavuus WAI-ARIAN mukaan--}}
    <form action="/login" method="POST">
      <div class="mb-3">
      <label for="username">Käyttäjätunnus:</label><br />
      <input type="text" id="username" name="username" aria-required="true" placeholder="Username" /><br />
      </div>
      <div class="mb-3">
      <label for="password">Salasana:</label><br />
      <input type="password" id="password" name="password" aria-required="true" placeholder="Password"/><br /><br />
      </div>
      <button type="submit">Kirjaudu sisään</button>
    </form>

        </div>
    </div>
</div>