<h1>Results</h1>
{{#if chosenHours}}
  <ul>
    {{#each chosenHours}}
      <li>{{this.startDate}} - {{this.endDate}}: {{this.price}} EUR/MWh</li>
    {{/each}}
  </ul>
{{else}}
  <p>No chosen hours found.</p>
{{/if}}
