<h1>Kirjauduttu sisään onnistuneesti</h1>
<h2>Syötä seuraava lähtöaika, sekä arvioitu kilometrimäärä</h2>

    <form action="/user" method="POST">
        <label for="departuretime">Departure time:</label><br />
        <input type="datetime-local" id="departuretime" name="departuretime" /><br /><br />
        <label for="estimatedmileage">Estimated mileage:</label><br />
        <input type="text" id="estimatedmileage" name="estimatedmileage" /><br /><br />
        <button type="submit">Calculate cheapest electricity prices</button>
    </form>
