<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
<h1>Kirjauduttu sisään onnistuneesti</h1>
<p>Sinut ohjataan eteenpäin hetken kuluttua...</p>

<script>
    setTimeout(function() {
        window.location.href = "results";
    }, 2000);
</script>

        </div>
    </div>
</div>