
<h1>Kirjauduttu sisään onnistuneesti</h1>
<p>Sinut ohjataan eteenpäin hetken kuluttua...</p>

<script>
    // Wait for 3 seconds before redirecting
    setTimeout(function() {
        // Redirect to the results page
        window.location.href = "results";
    }, 3000);
</script>
