body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Alla header + navbar tyylit */

header .header-image {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    background-color: #E8EAE6 !important;
}

a.nav-link {
    color: black;
}

li.active {
    background-color: #CDD0CB;
    border-radius: 5px;
}

.navbar-brand {
    padding-right: 45px;
}


/*Bodyn tyylit*/
.content {
    padding-top: 40px;
    padding-bottom: 40px;
    
}

/*Alla footer tyylit*/
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #E8EAE6;
    margin-top: 20px;
}

#footercol {
    padding-left: 170px;
}

h3 {
    font-size: 20px !important;
    padding-bottom: 7px;
}

/* Alla taulukkoon kaunistuksia */


[role="table"] {  /* jos rooli attribuutti on table */
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5em;
  }
  
  [role="table"] [role="cell"], 
  [role="table"] [role="columnheader"] {
    display: table-cell;
    padding: 0.125em 0.25em;
    width: 10em;
  }
  
  [role="table"] [role="columnheader"] {
    font-weight: bold;
    background-color: #5bd357;
  }


  [role="table"] [role="tbody"] td {
    height: 2em; 
    vertical-align: middle;
    
  }

  [role="table"] [role="row"] { /* flex pienillä näytöillä */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }


   @media screen and (max-width: 600px) {  /* mobiiliin */
    [role="table"] [role="cell"], 
    [role="table"] [role="columnheader"] {
      width: 4em;
      font-size: 0.8em;
    }

    .future-usage-info {           
      overflow-x: auto;
    }
  
    .past_usage_info {
      overflow-x: auto;
    }
    
  }

  h1 {
    padding-bottom: 1em;
  }
 

/* Taulukkorivit loppuvat */


#error {
  color: red;
  font-weight: bold;
}

#estimatedmileage, #departuretime, #location {
  width: 205px;
}