/* Tämä demonstroi aktiivista linkkiä, muutetaan nätimmäksi myöhemmin */
li.active {
    background-color: #CDD0CB;
}

header .header-image {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    background-color: #E8EAE6 !important;
}

a.nav-link {
    color: black;
    padding-left: 30px;
}

.content {
    padding-top: 30px;
    padding-bottom: 20px;

    
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #E8EAE6;
    margin-top: 20px;
}

#footercol {
    padding-left: 170px;
}

h3 {
    font-size: 20px !important;
    padding-bottom: 7px;
}

/* Alla taulukkoon kaunistuksia */


[role="table"] {  /* jos rooli attribuutti on table */
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
  }
  
  [role="table"] [role="cell"], 
  [role="table"] [role="columnheader"] {
    display: table-cell;
    padding: 0.125em 0.25em;
    width: 10em;
  }
  
  [role="table"] [role="columnheader"] {
    font-weight: bold;
    border-bottom: thin solid #00b661;
  }


/* Taulukkorivit loppuvat */